@mixin for-desktop {
  @media (min-width: 600px) { @content; }
}
@mixin for-mobile {
  @media (max-width: 601px) { @content; }
}


.page {
  font-family: 'NAMU_400';
  font-size: 16px;

  &__body {
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.section {
  padding: 32px 16px;

  &__title {
    font-family: NAMU_400, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    &--on-slider {
      margin-left: 16px;
    }
  }
  &__paragraf {
    font-size: 16px;
    line-height: 24px;
  }
  &__list {
    padding: 0 26px;
    }
  &__bullet {
    line-height: 24px;
    margin-top: 40px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
}

.section, .footer, .content_center {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: #000;
  
  @include for-desktop {
    background-color: #fff;
    position: relative;

    &__container_big_scren{
      display: flex;
      justify-content: flex-end; 
      align-items: flex-end; 
    }

    &__right_section_big_screen {
      display: flex;
      justify-content: flex-end;  
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0 19px 0 16px;
    align-items: center;
    box-sizing: border-box;

    @include for-desktop {
      height: 100px;
    }
  }
  &__main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    @include for-desktop {
      display: block;
      max-height: 100vh;
      min-height: 60vw;
      overflow: hidden;
    }
  }
  &__bottom {
    height: 300px;
    background-color: #f3f3f3;
  }
  &__content {
    @include for-desktop {
      position: absolute;
      top: 39vw;;
      width: 100%;

    }
  }
  &__title {
    margin: 14px 16px 19px 16px;
    text-align: left;
    font-family: NAMU_400, serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    @include for-desktop {
      max-width: 40%;
      font-family: 'Russo One';
      font-style: normal;
      font-weight: 400;
      font-size: 1.4vw;
      line-height: 2.4vw;
      letter-spacing: 0.03em;
    }
  }
  &__video {
    width: 100vw;
  }
  &__playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background: rgba(222, 222, 222, 0.25);
    backdrop-filter: blur(16px);
    border-radius: 50%;
  }
  &__play {
    width: 18px;
    height: 18px;
  }
}

.burger {
  &__img {
    height: 24px;
    width: 24px;
    background-image: url(../images/burger_menu-white.svg);

    @include for-desktop {
      height: 52px;
      width: 52px;
      background-image: url(../images/burger_menu-black.svg);
    }
  }
}

.logo {
  width: 166px;
  height: 16px;
  background-image: url(../images/Veteranka_logo_white.svg);
  background-size: cover;

  @include for-desktop {
    width: 302px;
    height: 30px;
    background-image: url(../images/logo_black_full.svg);
  }

  &__img {
    height: 100%;
  }
}

.achievments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);

  &__section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__largeText {
    font-family: NAMU_400, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin: 30px auto 9px auto;
  }
  &__smallText{
    font-family: NAMU_400, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 15px auto;
  }
}

.our-projects {
  height: 739px;
  background-color: #fff;
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    height: 127px;
    background: #fff;
    border: 3px solid #000;
    padding-left: 17px;
    &:nth-child(3) > h1 {
      font-size: 20px;
      line-height: 24px;
    }

    &--last{
      height: 90px;
      box-sizing: border-box;
      background: #fff;
      border: 3px solid #000;
      justify-content: center;
      & > h1 {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  &__section-title {
    font-family: NAMU_400;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  &__section-request {
    padding-bottom: 11px;
    width: fit-content;
    font-family: NAMU_900;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-decoration: none;
    border-bottom: 2px dashed #000;
  }
  &__container {
    height: 642px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
}

.arrow {
  display: block;
  position: absolute;
  height: 44px;
  width: 44px;
  background-image: url(../images/arrow-back-sharp1.svg);
  right: 14px; 
  top: 50%;
  margin-top: -22px;
}

.our-goals {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  margin: 0;
  padding: 0 16px 34px 16px;
  &__photo {
    width: 100vw;
    margin: 10px -16px;
  }
  &__section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
}

.team {
  &__bottom_button {
    display: block;
    width: 100%;
  }
  &__items {
    margin: 32px 0;
    &__item {
      &__title {
        font-size: 24px;
        margin: 24px 0 16px;
      }
      &__date {
        display: none;
      }
      &__social {
          display: none;
          justify-content: left; 
          height: 0;
          overflow: hidden;
        a {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.news {
  background: #f3f3f3;
  margin: 0;

  &__bottom_button {
    display: block;
    width: 100vw;
    margin: 0;
  }
  &__items {
    margin: 32px 0;
    &__item {
      &__title {
        font-size: 24px;
        margin: 24px 0 16px;
      }
      &__date {
        display: none;
      }
    }
  }
}

.shop_description {
  margin: 16px 0;
  line-height: 28px;
}
.shop_bottom_button {
  display: flex;
  justify-content: center;
  margin: 32px 0 0;
}
.team {
  &__bottom_button {
    display: block;
    width: 100%;
  }
  &__items {
    margin: 32px 0;
    &__item {
      &__title {
        font-size: 24px;
        margin: 24px 0 16px;
      }
      &__date {
        display: none;
      }
      &__social {
          display: none;
          justify-content: left; 
          height: 0;
          overflow: hidden;
        a {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.news {
  background: #f3f3f3;

  &__bottom_button {
    display: block;
    width: 100%;
  }
  &__items {
    margin: 32px 0;
    &__item {
      &__title {
        font-size: 24px;
        margin: 24px 0 16px;
      }
      &__date {
        display: none;
      }
    }
  }
}
.shop, .news__items, .team__items {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: none;
 
  &__item {
    width: 254px;
    margin-left: 16px;

    &__img {
      width: 100%;
      overflow: hidden;

      img {
        width: 254px;
      }
    }

    &__name, &__price {
      margin: 10px 0;
    }
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item button {
    width: 100%;
  }
}
.footer {
  background: #000000;
  padding: 32px 16px;

  &__logo {
    display: block;
    img {
      width: 100%;
    }
  }
  &__buttons { 
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    .button {
      width: 100%;

      &--white_on_black {
        margin-right: 8px;
      }

      &--black_on_black {
        margin-left: 8px;
      }
    }
  }

  .social {
    justify-content: center; 
  }
} 
.button {
  border: none;
  border-radius: 0;
  padding: 12px 14px;
  line-height: 24px;
  border: solid black 2px;
  font-family: NAMU_900;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
  text-align: center;

  &--white_on_black {
    background: #fff;
    color: #000;
    border-color: #fff;
  }

  &--white_on_white {
    background: #fff;
    color: #000;
    border-color:#000;
  }

  &--black_on_black {
    background: #000;
    color: #fff;
    border-color:#fff;
  }

  &--black_on_white {
    background: #000;
    color: #fff;
    border-color:#000;
  }

  &--header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 21px 14px;
    width: 280px;
    height: 52px;
    background-color: #fff;
    margin: 0 auto 32px 16px;
    font-family: Roboto Mono;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }
}
.contact_us_header {
  font-weight: 100;
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.social {
  display: flex;
  margin: 32px 0;

  a {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    margin: 0 12px;

    &.insta {
      background-image: url(../images/social/insta.svg);
    }
    &.twitter {
      background-image: url(../images/social/twitter.svg);
    }
    &.fb {
      background-image: url(../images/social/fb.svg);
    }
    &.tg {
      background-image: url(../images/social/telegram.svg);
    }
  }

  &--black {
    a {
      &.insta {
        background-image: url(../images/social/insta_black.svg);
      }
      &.twitter {
        background-image: url(../images/social/twitter_black.svg);
      }
      &.fb {
        background-image: url(../images/social/fb_black.svg);
      }
    }
  }
}
.go_up {
  display: flex;
  justify-content: center;  

  div {
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: contain;
    background-image: url(../images/up.svg);
  }   
}
.shop, .news__items, .team__items {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: none;
 
  &__item {
    width: 254px;
    margin-left: 16px;

    &__img {
      width: 100%;
      overflow: hidden;

      img {
        width: 254px;
      }
    }

    &__name, &__price {
      margin: 10px 0;
    }
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item button {
    width: 100%;
  }
}
.button--header-big-screen {
  display: none;
    @include for-desktop {
    display: block;
    padding: 12px 48px;
    margin-right: 32px;
  }
}

.big_screen_only {
  @include for-mobile {
    display: none;
  }
}
.small_screen_only {
  @include for-desktop {
    display: none;
  }
}