@import 'general.scss';
@import 'home.scss';
.burger-menu {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transform: translate(-100%);
  transition: transform 1s;
    &:target {
      transform: translate(0);
    }
  &__logo {
    width: 16.65px;
    height: 15.75px;
    background-image: url("/images/logo-char.svg");
    margin: 20px auto;
  }
  &__left-column {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    background-color:#000;
    width: 93px;
    height: 100vh;
  }
  &__cross {
    position: absolute;
    top: 11px;
    right: 16px;
    height: 24px;
    width: 24px;
    background-image: url("/images/cross.svg");
    z-index: 1;
  }
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 93px;
    width: calc(100vw - 93px);
    background-color: #fff;
    border-top: 1px solid #000;
    a {
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: contain;
      margin: 0 12px;
  
      &.insta {
        background-image: url(../images/social/insta.svg);
        background-repeat: no-repeat;
        filter: invert(1);
      }
      &.twitter {
        background-image: url(../images/social/twitter.svg);
        background-repeat: no-repeat;
        filter: invert(1);
      }
      &.fb {
        background-image: url(../images/social/fb.svg);
        background-repeat: no-repeat;
        filter: invert(1);
      }
      &.tg {
        background-image: url(../images/social/telegram.svg);
        background-repeat: no-repeat;
        filter: invert(1);
      }
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 93px);
    width: calc(100vw - 93px);
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 24px;
      }
    }
  }
  &__languages {
    display: flex;
    & .ukr {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      width: 44px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      background-color: #000;
      margin-right: 10px;
    }
    & .eng {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      width: 44px;
      font-size: 12px;
      text-align: center;
      border: 2px solid #000000;
      box-sizing: border-box;
    }
  }
}